{% extends "base.html" %} {% block content %}

<div>
  <h4>Перегляд накладних</h4>
</div>
<table class="container">
  <thead>
    <tr>
      <th>Тип накладної</th>
      <th>Номер накладної</th>
      <th>Кількість товару</th>
      <th>Сума</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.nametype }}</td>
      <td>
        <a class="nav-link" href="/invoiceinfo/{{ item.numdoc }}"
          >{{ item.numdoc }}</a
        >
      </td>
      <td>{{ item.countTov }}</td>
      <td>{{ "%.2f" % item.totalsum }}</td>
      <td>{{ item.namestatus }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
