{% extends "base.html" %}

{% block content %}

{% if errors %}
    {{ errors.username }}
{% endif %}
<form action="" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
        <label for="title">Ім'я користувача</label>
        <select name="userid" id="username">
            {% for user in userlist %}
                <option value={{user.uid}}>{{user.fullusername.strip()}}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">{{ errors.username|join(' ') }}</div>
    </div>
    <div class="form-group">
        <label for="body">Пароль</label>
        <input type="password" id="pwd" name="pwd">
        <div class="invalid-feedback">{{ errors.password|join(' ') }}</div>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Увійти</button>
</form>

{% endblock %}