{% extends "base.html" %} {% block content %}
<div class="container">
  <p><h2>Інформація про товар</h2></p>
  <div class="container">
    <form method="POST" action="/setprice/{{ itemone.idTov }}">
      <h3>Найменування: {{ itemone.nameproduct }}</h3>
      <h4>Кількість: {{ itemone.quantity }} {{ itemone.nameunitshort }}</h4>
      <h4>Ціна:  </h4>
      <input
        type="number"
        placeholder="0.00"
        step="0.01"
        name="newprice"
        value="{{ itemone.price }}"
      />
      <button class="buttons" type="submit">Встановити нову ціну</button>
      <h4>Сума: {{ "%.2f" % itemone.sum }}</h4>
      <input type="hidden" name="idunit" value="{{ itemone.unit }}">
    </form>
    <p>
      <form method="POST" action="/income/{{ itemone.idTov }}">
        <button class="buttons" type="submit">Надходження на склад</button>
      </form>
    </p>
    <p>
      <form method="POST" action="/selling/{{ itemone.idTov }}">
        <button class="buttons" type="submit">Продаж товару</button>
      </form>
    </p>
  </div>
</div>
{% endblock %}
