{% extends "base.html" %} {% block content %}
<div class="container">
    <p><h3>{{ reportname }}</h3></p>
    <table class="container">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in report %}
                <tr>
                    {% for cell in item %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
