{% extends "base.html" %} {% block content %}
<div class="container">
    <p><center><h3>{{ reportname }}</h3></center></p>
    <p><center><h4>{{ subtitle }}</h4></center></p>
    <table class="container">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in report %}
                <tr>
                    {% for cell in item %}
                        {% if cell != none %}
                            <td>{{ cell }}</td>
                        {% endif %}
                        {% if cell == none %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
