{% extends "base.html" %} {% block content %}

<div class="container">
  <p><h3>{{ reportdata.reportname }}</h3></p>
  <p>
    <h4>Вкажіть параметри для формування звіту:</h4>
  </p>

  <form method="POST" action="/buildreport/{{ reportdata.functionname }}">
    {% for i in range(count_parameters) %}
      {% if parameters[i] == "d" %}
        <p>Дата:
        <input type="date" name="parameter{{ i }}" /></p>
      {% endif %}      
    {% endfor %}    
    <button class="buttons" type="submit">Створити звіт</button>
    <input type="hidden" name="countparams" value="{{ count_parameters }}" />
  </form>
</div>
{% endblock %}
